# Cert files
*.crt
*.key
*.pem

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store

# Secrets
creds.yml

# Direnv
.envrc

# Python
venv
.venv

# IDE
.idea

# Ruby
.ruby-version

# Releases
*.tgz

